parameters:
  navy:
    plugins:
      - Crocos\Plugin\DeployPlugin\DeployPlugin

  navy.tmpdir: "/var/tmp/navy"
  navy.logdir: "/var/log/navy"

  logger.name: "logging"
  logger.file.path: "%navy.logdir%/worker.log"
  logger.hipchat.name: "NavyBot"
  logger.hipchat.token: ""
  logger.hipchat.channel: ""
  logger.hipchat.notify: true

  queue.dir: "%navy.tmpdir%/queue"

  deploy.repository:
    crocos/deploy-sample:
      develop:
        workdir: "/var/deploy/deploy-sample"
        priority: [ "plusone", "shipit" ]

  release.flow:
    "shipit":
      keyword: "shipit"
      process:
        - staging
        - production
    "+1":
      keyword: "+1"
      process:
        - staging
        - check
        - production
        - check

  release.lockfile: "%navy.tmpdir%/navy.lock"
  release.command_context.env:
    sudo: "sudo -ucrocos"

  # releaselog
  releaselog.logfile.config:
    dir: "%navy.tmpdir%/releaselog"
    prefix: release-
    permission: 0777

  releaselog.hook.repository:
    crocos/deploy-sample:
      develop: ~

  releaselog.notifier.hipchat.token: ""
  releaselog.notifier.hipchat.name: "ReleaseBot"
  releaselog.notifier.hipchat.rooms: []

  releaselog.notifier.pullrequest.topics: []

  releaselog.pullrequest.labels.mapping: []

  releaselog.pullrequest.username.command: ""
